.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #84a7ee;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Router-link {
  color: white;
  text-decoration: none;
}
.nav-links {
  flex-basis: 50%;
  display: flex;
  justify-content: space-around;
  align-items: left;
  list-style: none;
  color: #dfdfdf;
}
.site-body {
  margin: 2%;
}
