.App {
  text-align: left;
}
.App-header {
  background-color: #84a7ee;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Router-link {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-links {
  flex-basis: 50%;
  display: flex;
  justify-content: space-around;
  align-items: left;
  list-style: none;
  color: #dfdfdf;
}
.profile-photo {
  margin-right: 30px;
}
.profile-links {
  flex-basis: 15%;
  display: flex;
  justify-content: space-around;
  align-items: left;
  list-style: none;
  color: #dfdfdf;
}
.router-link-img {
  padding-right: 15px;
}
.footer {
  float: right;
  margin-right: 40px;
}
.site-body {
  margin: 2%;
}

.slide-img {
  /* width: 30%; */
  height: 30rem;
}

.custom-navbar {
  /* font-weight: bold;
  font-size: 2em;
  padding-left: 1em;
  padding-right: 1em; */
}
