.menu-tab {
  display: flex;
  flex-direction: row;
  max-width: 10vh;
}
.menu-tab-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.menu-tab-button {
    border: none;
    padding: 15px 15px 15px 0px;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    opacity: 0.6;
}
.menu-tab-button:hover {
    opacity: 1;
}
.menu-tab-button:focus{
    outline: none;
}
.open-menu-arrow {
    transform: rotate(90deg);
}
@media screen and (min-width: 1000px) {
    .mobile-warning-title {
        display: none;
    }
    .resume-categories {
        display: flex;
        flex-direction: column;
        align-items: left;
    }
}
@media screen and (max-width: 1000px) {
    .resume-categories {
        display: none;
    }
}
.map-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}
#map {
    height: 400px;
    max-width: 600px;
}
.map-info {
    display: flex;
    align-items: center;
    align-content: center;
    width: 600px;
    border-radius: 3%;
    margin-right: 30px;
    height: 400px;
    border: 2px solid orange;
    padding-left: 30px;
}
.map-info-items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.map-hint {
    opacity: 0.6;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
}
.skill-category {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}
.skill {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.location-text {
    color: gray;
}
#hw-body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#vl-body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#neu-body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#usc-body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.location-image {
    margin: 25px;
    border-radius: 20%;
}
.big-name {
    font-size: 2vw;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px 20px 20px 0px;
}