.menu-tab {
  display: flex;
}

.menu-tab-button {
    border: none;
    padding: 15px 48px 15px 0px;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    opacity: 0.6;
}
.menu-tab-button:hover {
    opacity: 1;
}
.menu-tab-button:focus{
    outline: none;
}