.menu-tab {
  display: flex;
  flex-direction: row;
  max-width: 10vh;
}
.menu-tab-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.menu-tab-button {
    border: none;
    padding: 15px 15px 15px 0px;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    opacity: 0.6;
}
.menu-tab-button:hover {
    opacity: 1;
}
.menu-tab-button:focus{
    outline: none;
}
.open-menu-arrow {
    transform: rotate(90deg);
}
.resume-categories {
    display: flex;
    flex-direction: column;
    align-items: left;
}
.map-container {
    display: flex;
    height: 400px;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
}
.map-info {
    width: 45%;
    margin-right: 30px;
    border: 2px solid orange;
    padding-left: 30px;
}
.map-info-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.map-hint {
    opacity: 0.6;
    margin-top: 150px;
}
.skill-category {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}
.skill {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.location-text {
    color: gray;
}
#hw-body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#vl-body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#neu-body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.location-image {
    margin: 25px;
}
.location-body {
    /* display: flex;
    flex-direction: column;
    align-content: center; */
}