.my-graphs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.spotify-button-div {
    display: flex;
}
.spotify-button {
    width: 20vw;
    min-height: 50px;
    background-color: limegreen;
    color: white;
    font-size: 24px;
}
.my-top-artists {
    display: flex;
    justify-content: space-evenly;
}
.top-5-artists {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.spotify-components {
    margin: 30px;
}
.an-artist {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* align-items: center; */
    align-content: center;
    text-align: center;
}