.my-graphs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.spotify-button-div {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.spotify-button {
    width: 20vw;
    min-height: 50px;
    background-color: limegreen;
    color: white;
    font-size: 24px;
}
.my-top-artists {
    display: flex;
    text-align: center;
}
.top-5-artists_w_graph {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.spotify-components {
    margin: 30px;
}
.highlighted-artist {
    border-color: orange;
    border-width: 2px;
    background-color: lightskyblue;
}
.an-artist {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.popularity-analysis {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
/* .fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
} */
 .average-popularity {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.big-number {
    font-size: 48px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}