.my-graphs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.spotify-button-div {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.spotify-button {
    width: 20vw;
    min-height: 50px;
    background-color: limegreen;
    color: white;
    font-size: 24px;
}
.highlighted-title {
    width: 200px;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
}
.my-top-artists {
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
}
.top-5-artists_w_graph {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.spotify-components {
    margin: 30px;
}
.an-artist {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.secondary-analysis {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.popularity-analysis {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.genre-analysis {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}
 .average-popularity {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.big-number {
    font-size: 48px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}