.contact-name {
    font-family: 'Courier New', Courier, monospace;
    float: left;
}
.contact {
    float: left;
    margin: 2%;
}
.contact-link {
    float: left;
    margin: 20px;
}
a, img, .contact {
    float: left;
    margin-right: 50px;
}