.contact-name {
    font-family: 'Courier New', Courier, monospace;
}
.contact {
    display: flex;
}
.contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.contact-img {
    padding-bottom: 30px;
}

a, img, h3 {
    margin-right: 50px;
    margin-top: auto;
    margin-bottom: auto;
}